.text__container {
  color: var(--font-light);
}

.text--error {
  color: var(--c-error);
}

.text--white {
  color: var(--font-white);
}

.text--primary {
  color: var(--c-primary);
}

.text--secondary {
  color: var(--c-secondary);
}

.text--large {
  font-size: 1.5rem;
}

.text--medium {
  font-size: 1rem;
}

.text--small {
  font-size: 0.8rem;
}
