.calculator-lib__footer {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.calculator-lib__content {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 2rem;
  padding: 0.5rem;
  width: clamp(380px, 50%, 500px);
}
