:root {
  --c-primary: #1ec887;
  --c-secondary: #582f87;

  --c-error: #ff0000;

  --b-radius: 0.25rem;
  --b-padding: 0.75rem;

  --font-white: #fff;
  --font-default: rgba(0, 0, 0, 0.8);
  --font-light: rgba(0, 0, 0, 0.6);
  --font-lighter: rgba(0, 0, 0, 0.4);
}

.text--white {
  color: var(--font-white);
}

.text-w--heavy {
  font-weight: 700;
}

.text-w--normal {
  font-weight: 500;
}
