
.primary-button--color {    
    background-color: var(--c-primary);    
}

.primary-button:hover {
    filter: brightness(115%);   
    cursor: pointer;
}
.primary-button:active {
    filter: brightness(135%);
}

.secondary-button:disabled {
    filter: brightness(65%);
    cursor: not-allowed;
    color: #ccc
}