
html,
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*
 * Dsiables the focus when not using the keyboard
 */
 :focus:not(:focus-visible) {
    outline: none;
    box-shadow: none;
}
